<a href="https://colab.research.google.com/github/atanisa1465/assessinghrunvotes/blob/main/Afifa_Tanisa_TecHacks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Afifa Tanisa

This notebook was created for the TecHacks hackathon. It falls under data activism and it aims to assess how members of the United Nations voted on human rights related resolutions in comparison to their human rights scores.

Python Pandas Dataframe was used for this analysis.

In [104]:
import numpy as np
import pandas as pd

file_path = 'sample_data/human-rights-scores.csv'
df1 = pd.read_csv(file_path,encoding = "cp1252")

df1['hr_quartile'] = 0

# df1.iloc[: ,33]

for i in range(len(df1)):
  if df1.iloc[i ,1] < -0.5:
    df1.iloc[i ,2] = 4;
  if df1.iloc[i ,1] >= -0.5 and df1.iloc[i ,1] < 1.5:
    df1.iloc[i ,2] = 3;
  if df1.iloc[i ,1] >= 1.5 and df1.iloc[i ,1] < 3.5:
    df1.iloc[i ,2] = 2;
  if df1.iloc[i ,1] >= 3.5:
    df1.iloc[i ,2] = 1;
  
df1.to_csv('sample_data/countrieswithhrq.csv')

In [105]:
import numpy as np
import pandas as pd

file_path = 'sample_data/UNVotes_2000to2021.csv'
df1 = pd.read_csv(file_path)
df1 = df1.loc[df1['hr'] == 1]

file_path = 'sample_data/countrieswithhrq.csv'
df2 = pd.read_csv(file_path)

df1 = df1.merge(df2, how="left", left_on=['Countryname'], right_on=['CountryHR'])

df1.to_csv('sample_data/UNVotesHR.csv')
df1

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

       Unnamed: 0_x  Unnamed: 0.1  ...  HumanRightsScore   hr_quartile
0            847691        847692  ...           0.235333          3.0
1            847692        847693  ...           2.791056          2.0
2            847693        847694  ...           0.844840          3.0
3            847694        847695  ...          -0.227479          3.0
4            847695        847696  ...           0.590257          3.0
...             ...           ...  ...                ...          ...
89258       1233564       1233565  ...          -1.434521          4.0
89259       1233565       1233566  ...          -0.373984          3.0
89260       1233566       1233567  ...          -2.108346          4.0
89261       1233567       1233568  ...          -0.043186          3.0
89262       1233568       1233569  ...          -0.741357          4.0

[89263 rows x 32 columns]

In [106]:
import numpy as np
import pandas as pd

file_path = 'sample_data/UNVotesHR.csv'
df1 = pd.read_csv(file_path)

df1 = df1.sort_values('rcid').drop_duplicates(["Countryname", "unres",],keep='last')
print(df1['unres'].nunique())
print(df1['rcid'].nunique())

df1.to_csv('sample_data/UNVotes.csv')
df1

449
457

       Unnamed: 0  Unnamed: 0_x  ...  HumanRightsScore   hr_quartile
0               0        847691  ...           0.235333          3.0
126           126        847817  ...           2.107410          2.0
127           127        847818  ...          -0.230401          3.0
128           128        847819  ...           2.276413          2.0
129           129        847820  ...           0.958180          3.0
...           ...           ...  ...                ...          ...
88228       88228       1227130  ...           0.113044          3.0
88227       88227       1227129  ...           3.445405          2.0
88226       88226       1227128  ...           3.410230          2.0
88235       88235       1227137  ...           4.288571          1.0
88198       88198       1227100  ...           2.059509          2.0

[87150 rows x 33 columns]

In [107]:
import numpy as np
import pandas as pd

file_path = 'sample_data/UNVotes.csv'
df1 = pd.read_csv(file_path)

df13 = df1['rcid'].value_counts() 
df13.to_csv('sample_data/Sample.csv')

firstcol = df13.tail(8)

final_df = df1.loc[~df1['rcid'].isin(firstcol.index)]

df1.to_csv('sample_data/UNVotesHR2.csv')

print(final_df['unres'].nunique())
print(final_df['rcid'].nunique())
df1

449
449

       Unnamed: 0  Unnamed: 0.1  ...  HumanRightsScore   hr_quartile
0               0             0  ...           0.235333          3.0
1             126           126  ...           2.107410          2.0
2             127           127  ...          -0.230401          3.0
3             128           128  ...           2.276413          2.0
4             129           129  ...           0.958180          3.0
...           ...           ...  ...                ...          ...
87145       88228         88228  ...           0.113044          3.0
87146       88227         88227  ...           3.445405          2.0
87147       88226         88226  ...           3.410230          2.0
87148       88235         88235  ...           4.288571          1.0
87149       88198         88198  ...           2.059509          2.0

[87150 rows x 34 columns]

In [108]:
import numpy as np
import pandas as pd

file_path = 'sample_data/UNVotesHR2.csv'
df1 = pd.read_csv(file_path)
df1 = df1.sort_values('rcid')

df1 = df1[~df1['CountryHR'].isnull()]
df1.to_csv('sample_data/UNVotesHR2.csv')

df1

       Unnamed: 0  Unnamed: 0.1  ...  HumanRightsScore   hr_quartile
0               0             0  ...           0.235333          3.0
126           126             2  ...           0.844840          3.0
127           127             3  ...          -0.227479          3.0
128           128             4  ...           0.590257          3.0
129           129             5  ...          -0.293057          3.0
...           ...           ...  ...                ...          ...
87024       87024         88108  ...           4.221865          1.0
87025       87025         88107  ...           0.354197          3.0
87026       87026         88106  ...           0.851180          3.0
87003       87003         88177  ...           0.905214          3.0
87149       87149         88198  ...           2.059509          2.0

[86564 rows x 35 columns]

In [110]:
import numpy as np
import pandas as pd

file_path = 'sample_data/UNVotesHR2.csv'
df1 = pd.read_csv(file_path)
df1 = df1.loc[df1['hr'] == 1]

df6 = pd.crosstab(df1['unres'], [df1['hr_quartile'], df1['vote']])
df6.to_csv('sample_data/unresvotes.csv')
df6

hr_quartile  1.0          2.0               3.0                4.0
vote           1  2  3  8   1   2   3  8  9   1   2   3   8  9   1   2  3  8  9
unres
A/RES/71/174   3  8  0  0  12  33   0  3  0  57  23   1   6  0  32  10  1  2  0
A/RES/71/179   3  8  0  0  17  28   0  3  0  73  12   1   1  0  41   1  1  2  0
A/RES/71/181   3  7  1  0  15  23   6  4  0  71  14   1   1  0  42   1  1  1  0
A/RES/71/182   3  0  8  0  17   2  28  1  0  71   0  14   2  0  39   2  3  1  0
A/RES/71/184  10  0  1  0  41   1   4  2  0  84   0   1   2  0  41   2  1  1  0
...           .. .. .. ..  ..  ..  .. .. ..  ..  ..  ..  .. ..  ..  .. .. .. ..
R/73/264      10  0  0  1  36   7   0  5  0  64   6   4  12  0  25   8  4  9  0
R/73/96        0  7  1  3   8  31   5  4  0  46  29   2   9  0  24  15  2  5  0
R/73/97        7  1  0  3  40   2   4  2  0  74   7   1   4  0  36   3  1  6  0
R/73/98        7  1  0  3  38   2   4  4  0  74   7   1   4  0  34   4  1  7  0
R/73/99        7  0  1  3  37   1   5  5  0  73   7   1   5  0  34   4  1  7  0

[449 rows x 19 columns]

In [111]:
#calculate plurality

import numpy as np
import pandas as pd

file_path = 'sample_data/UNVotesHR2.csv'
df1 = pd.read_csv(file_path)

df1 = df1.dropna(axis=0, subset=['unres'])
df2 = pd.crosstab(df1['unres'], df1['vote'])

df2['Plurality'] = -1
ctr = 0
print(df2)

for i in range(len(df2)):
  df3 = df2.iloc[[i]]
  df4 = df3.max(axis = 1)
  df4 = df4.tolist()
  
  df3_yes = df2.iloc[i, 0]
  df3_no = df2.iloc[i, 2]
  df3_abstain = df2.iloc[i, 1]
  df3_notpresent = df2.iloc[i, 3]
  df3_notmember = df2.iloc[i, 4]
  
  if df4 == df3_yes:
    df2.iloc[i, 5] = 1
  if df2.iloc[i, 5] != -1 and df4 == df3_no:
    ctr = ctr + 1
  if df4 == df3_no:
    df2.iloc[i, 5] = 3
  if df2.iloc[i, 5] != -1 and df4 == df3_abstain:
    ctr = ctr + 1
  if df4 == df3_abstain:
    df2.iloc[i, 5] = 2
  if df2.iloc[i, 5] != -1 and df4 == df3_notpresent:
    ctr = ctr + 1
  if df4 == df3_notpresent:
    df2.iloc[i, 5] = 8
  if df2.iloc[i, 5] != -1 and df4 == df3_notmember:
    ctr = ctr + 1
  if df4 == df3_notmember:
    df2.iloc[i, 5] = 9

print(df2.value_counts('Plurality'))

df2.to_csv('sample_data/ResDecision.csv')
print(df2.value_counts('Plurality'))

vote            1   2   3   8  9  Plurality
unres
A/RES/71/174  104  74   2  11  0         -1
A/RES/71/179  134  49   2   6  0         -1
A/RES/71/181  131  45   9   6  0         -1
A/RES/71/182  130   4  53   4  0         -1
A/RES/71/184  176   3   7   5  0         -1
...           ...  ..  ..  .. ..        ...
R/73/264      135  21   8  27  0         -1
R/73/96        78  82  10  21  0         -1
R/73/97       157  13   6  15  0         -1
R/73/98       153  14   6  18  0         -1
R/73/99       151  12   8  20  0         -1

[449 rows x 6 columns]
Plurality
1    437
2     10
3      2
dtype: int64
Plurality
1    437
2     10
3      2
dtype: int64

In [116]:
import numpy as np
import pandas as pd

file_path = 'sample_data/UNVotesHR2.csv'
df1 = pd.read_csv(file_path)
df1 = df1.loc[df1['hr'] == 1]

file_path = 'sample_data/ResDecision.csv'
df3 = pd.read_csv(file_path)

df1 = pd.crosstab(df1['unres'], [df1['hr_quartile'], df1['vote']])
df1 = df1.merge(df3, how="left", left_on=['unres'], right_on=['unres'])
df1.to_csv('sample_data/test.csv')

df1.iloc[:, 0]
df1.shape

/usr/local/lib/python3.7/dist-packages/pandas/core/reshape/merge.py:643: UserWarning: merging between different levels can give an unintended result (2 levels on the left,1 on the right)
  warnings.warn(msg, UserWarning)

(449, 26)

In [122]:
import numpy as np
import pandas as pd

file_path = 'sample_data/UNVotesHR2.csv'
df1 = pd.read_csv(file_path)
df1 = df1.loc[df1['hr'] == 1]

file_path = 'sample_data/ResDecision.csv'
df3 = pd.read_csv(file_path)

df1 = pd.crosstab(df1['unres'], [df1['hr_quartile'], df1['vote']])
df1 = df1.merge(df3, how="left", left_on=['unres'], right_on=['unres'])
df1.to_csv('sample_data/test.csv')


df1 = df1.iloc[:, [0,15,16,17,18,19,25]]

df2 = pd.DataFrame()

df2['# res passed'] = 0
df2['# res failed'] = 0
df2['# res abstained'] = 0
df2['# res not present'] = 0
df2['# res not member'] = 0

df2.loc['# res passed by q4'] = [0, 0, 0, 0, 0]
df2.loc['# res failed by q4'] = [0, 0, 0, 0, 0]
df2.loc['# res abstained by q4'] = [0, 0, 0, 0, 0]
df2.loc['# res not present by q4'] = [0, 0, 0, 0, 0]
df2.loc['# res not member by q4'] = [0, 0, 0, 0, 0]

for i in range(len(df1)):

  df3 = df1.loc[[i]]
  df4 = df3.max(axis = 1)
  df4 = df4.tolist()

  df3_yes = df1.iloc[i, 1]
  df3_no = df1.iloc[i, 3]
  df3_abstain = df1.iloc[i, 2]
  df3_notpresent = df1.iloc[i, 4]
  df3_notmember = df1.iloc[i, 5]

  if df4 == df3_yes:
    if df1.iloc[i, 6] == 1:
      df2.iloc[0, 0] += 1
    else:
      if df1.iloc[i, 6] == 3:
        df2.iloc[0, 1] += 1
      else:
        if df1.iloc[i, 6] == 2:
          df2.iloc[0, 2] += 1
        else:
          if df1.iloc[i, 6] == 8:
            df2.iloc[0, 3] += 1

  if df4 == df3_no:
    if df1.iloc[i, 6] == 1:
      df2.iloc[1, 0] += 1
    else:
      if df1.iloc[i, 6] == 3:
        df2.iloc[1, 1] += 1
      else:
        if df1.iloc[i, 6] == 2:
          df2.iloc[1, 2] += 1
        else:
          if df1.iloc[i, 6] == 8:
            df2.iloc[1, 3] += 1

  if df4 == df3_abstain:
    if df1.iloc[i, 6] == 1:
      df2.iloc[2, 0] += 1
    else:
      if df1.iloc[i, 6] == 3:
        df2.iloc[2, 1] += 1
      else:
        if df1.iloc[i, 6] == 2:
          df2.iloc[2, 2] += 1
        else:
          if df1.iloc[i, 6] == 8:
            df2.iloc[2, 3] += 1

  if df4 == df3_notpresent:
    if df1.iloc[i, 6] == 1:
      df2.iloc[3, 0] += 1
    else:
      if df1.iloc[i, 6] == 3:
        df2.iloc[3, 1] += 1
      else:
        if df1.iloc[i, 6] == 2:
          df2.iloc[3, 2] += 1
        else:
          if df1.iloc[i, 6] == 8:
            df2.iloc[3, 3] += 1

  if df4 == df3_notmember:
    if df1.iloc[i, 6] == 1:
      df2.iloc[4, 0] += 1
    else:
      if df1.iloc[i, 6] == 3:
        df2.iloc[4, 1] += 1
      else:
        if df1.iloc[i, 6] == 2:
          df2.iloc[4, 2] += 1
        else:
          if df1.iloc[i, 6] == 8:
            df2.iloc[4, 3] += 1


df2.to_csv('sample_data/HumanRightsMatrix.csv')


# ---------------------------------------------------------


file_path = 'sample_data/UNVotesHR2.csv'
df1 = pd.read_csv(file_path)
df1 = df1.loc[df1['hr'] == 1]

file_path = 'sample_data/ResDecision.csv'
df3 = pd.read_csv(file_path)

df1 = pd.crosstab(df1['unres'], [df1['hr_quartile'], df1['vote']])
df1 = df1.merge(df3, how="left", left_on=['unres'], right_on=['unres'])
# df1.to_csv('sample_data/test.csv')

df1 = df1.iloc[:, [0,10,11,12,13,14,25]]
df2 = pd.DataFrame()

df2['# res passed'] = 0
df2['# res failed'] = 0
df2['# res abstained'] = 0
df2['# res not present'] = 0
df2['# res not member'] = 0

df2.loc['# res passed by q3'] = [0, 0, 0, 0, 0]
df2.loc['# res failed by q3'] = [0, 0, 0, 0, 0]
df2.loc['# res abstained by q3'] = [0, 0, 0, 0, 0]
df2.loc['# res not present by q3'] = [0, 0, 0, 0, 0]
df2.loc['# res not member by q3'] = [0, 0, 0, 0, 0]

for i in range(len(df1)):

  df3 = df1.loc[[i]]
  df4 = df3.max(axis = 1)
  df4 = df4.tolist()

  df3_yes = df1.iloc[i, 1]
  df3_no = df1.iloc[i, 3]
  df3_abstain = df1.iloc[i, 2]
  df3_notpresent = df1.iloc[i, 4]
  df3_notmember = df1.iloc[i, 5]

  if df4 == df3_yes:
    if df1.iloc[i, 6] == 1:
      df2.iloc[0, 0] += 1
    else:
      if df1.iloc[i, 6] == 3:
        df2.iloc[0, 1] += 1
      else:
        if df1.iloc[i, 6] == 2:
          df2.iloc[0, 2] += 1
        else:
          if df1.iloc[i, 6] == 8:
            df2.iloc[0, 3] += 1

  if df4 == df3_no:
    if df1.iloc[i, 6] == 1:
      df2.iloc[1, 0] += 1
    else:
      if df1.iloc[i, 6] == 3:
        df2.iloc[1, 1] += 1
      else:
        if df1.iloc[i, 6] == 2:
          df2.iloc[1, 2] += 1
        else:
          if df1.iloc[i, 6] == 8:
            df2.iloc[1, 3] += 1

  if df4 == df3_abstain:
    if df1.iloc[i, 6] == 1:
      df2.iloc[2, 0] += 1
    else:
      if df1.iloc[i, 6] == 3:
        df2.iloc[2, 1] += 1
      else:
        if df1.iloc[i, 6] == 2:
          df2.iloc[2, 2] += 1
        else:
          if df1.iloc[i, 6] == 8:
            df2.iloc[2, 3] += 1

  if df4 == df3_notpresent:
    if df1.iloc[i, 6] == 1:
      df2.iloc[3, 0] += 1
    else:
      if df1.iloc[i, 6] == 3:
        df2.iloc[3, 1] += 1
      else:
        if df1.iloc[i, 6] == 2:
          df2.iloc[3, 2] += 1
        else:
          if df1.iloc[i, 6] == 8:
            df2.iloc[3, 3] += 1

  if df4 == df3_notmember:
    if df1.iloc[i, 6] == 1:
      df2.iloc[4, 0] += 1
    else:
      if df1.iloc[i, 6] == 3:
        df2.iloc[4, 1] += 1
      else:
        if df1.iloc[i, 6] == 2:
          df2.iloc[4, 2] += 1
        else:
          if df1.iloc[i, 6] == 8:
            df2.iloc[4, 3] += 1

df2.to_csv('sample_data/HumanRightsMatrix.csv', mode='a')


# ----------------------------------------------------


file_path = 'sample_data/UNVotesHR2.csv'
df1 = pd.read_csv(file_path)
df1 = df1.loc[df1['hr'] == 1]

file_path = 'sample_data/ResDecision.csv'
df3 = pd.read_csv(file_path)

df1 = pd.crosstab(df1['unres'], [df1['hr_quartile'], df1['vote']])
df1 = df1.merge(df3, how="left", left_on=['unres'], right_on=['unres'])
# df1.to_csv('sample_data/test.csv')

df1 = df1.iloc[:, [0,5,6,7,8,9,25]]
df2 = pd.DataFrame()

df2['# res passed'] = 0
df2['# res failed'] = 0
df2['# res abstained'] = 0
df2['# res not present'] = 0
df2['# res not member'] = 0

df2.loc['# res passed by q2'] = [0, 0, 0, 0, 0]
df2.loc['# res failed by q2'] = [0, 0, 0, 0, 0]
df2.loc['# res abstained by q2'] = [0, 0, 0, 0, 0]
df2.loc['# res not present by q2'] = [0, 0, 0, 0, 0]
df2.loc['# res not member by q2'] = [0, 0, 0, 0, 0]

for i in range(len(df1)):

  df3 = df1.loc[[i]]
  df4 = df3.max(axis = 1)
  df4 = df4.tolist()

  df3_yes = df1.iloc[i, 1]
  df3_no = df1.iloc[i, 3]
  df3_abstain = df1.iloc[i, 2]
  df3_notpresent = df1.iloc[i, 4]
  df3_notmember = df1.iloc[i, 5]

  if df4 == df3_yes:
    if df1.iloc[i, 6] == 1:
      df2.iloc[0, 0] += 1
    else:
      if df1.iloc[i, 6] == 3:
        df2.iloc[0, 1] += 1
      else:
        if df1.iloc[i, 6] == 2:
          df2.iloc[0, 2] += 1
        else:
          if df1.iloc[i, 6] == 8:
            df2.iloc[0, 3] += 1

  if df4 == df3_no:
    if df1.iloc[i, 6] == 1:
      df2.iloc[1, 0] += 1
    else:
      if df1.iloc[i, 6] == 3:
        df2.iloc[1, 1] += 1
      else:
        if df1.iloc[i, 6] == 2:
          df2.iloc[1, 2] += 1
        else:
          if df1.iloc[i, 6] == 8:
            df2.iloc[1, 3] += 1

  if df4 == df3_abstain:
    if df1.iloc[i, 6] == 1:
      df2.iloc[2, 0] += 1
    else:
      if df1.iloc[i, 6] == 3:
        df2.iloc[2, 1] += 1
      else:
        if df1.iloc[i, 6] == 2:
          df2.iloc[2, 2] += 1
        else:
          if df1.iloc[i, 6] == 8:
            df2.iloc[2, 3] += 1

  if df4 == df3_notpresent:
    if df1.iloc[i, 6] == 1:
      df2.iloc[3, 0] += 1
    else:
      if df1.iloc[i, 6] == 3:
        df2.iloc[3, 1] += 1
      else:
        if df1.iloc[i, 6] == 2:
          df2.iloc[3, 2] += 1
        else:
          if df1.iloc[i, 6] == 8:
            df2.iloc[3, 3] += 1

  if df4 == df3_notmember:
    if df1.iloc[i, 6] == 1:
      df2.iloc[4, 0] += 1
    else:
      if df1.iloc[i, 6] == 3:
        df2.iloc[4, 1] += 1
      else:
        if df1.iloc[i, 6] == 2:
          df2.iloc[4, 2] += 1
        else:
          if df1.iloc[i, 6] == 8:
            df2.iloc[4, 3] += 1

df2.to_csv('sample_data/HumanRightsMatrix.csv', mode='a')


# ----------------------------------------------------

file_path = 'sample_data/UNVotesHR2.csv'
df1 = pd.read_csv(file_path)
df1 = df1.loc[df1['hr'] == 1]

file_path = 'sample_data/ResDecision.csv'
df3 = pd.read_csv(file_path)

df1 = pd.crosstab(df1['unres'], [df1['hr_quartile'], df1['vote']])
df1 = df1.merge(df3, how="left", left_on=['unres'], right_on=['unres'])
# df1.to_csv('sample_data/test.csv')

df1 = df1.iloc[:, [0,1,2,3,4,25]]
df2 = pd.DataFrame()

df2['# res passed'] = 0
df2['# res failed'] = 0
df2['# res abstained'] = 0
df2['# res not present'] = 0
df2['# res not member'] = 0

df2.loc['# res passed by q1'] = [0, 0, 0, 0, 0]
df2.loc['# res failed by q1'] = [0, 0, 0, 0, 0]
df2.loc['# res abstained by q1'] = [0, 0, 0, 0, 0]
df2.loc['# res not present by q1'] = [0, 0, 0, 0, 0]
df2.loc['# res not member by q1'] = [0, 0, 0, 0, 0]


for i in range(len(df1)):

  df3 = df1.loc[[i]]
  df4 = df3.max(axis = 1)
  df4 = df4.tolist()

  df3_yes = df1.iloc[i, 1]
  df3_no = df1.iloc[i, 3]
  df3_abstain = df1.iloc[i, 2]
  df3_notpresent = df1.iloc[i, 4]

  if df4 == df3_yes:
    if df1.iloc[i, 5] == 1:
      df2.iloc[0, 0] += 1
    else:
      if df1.iloc[i, 5] == 3:
        df2.iloc[0, 1] += 1
      else:
        if df1.iloc[i, 5] == 2:
          df2.iloc[0, 2] += 1
        else:
          if df1.iloc[i, 5] == 8:
            df2.iloc[0, 3] += 1

  if df4 == df3_no:
    if df1.iloc[i, 5] == 1:
      df2.iloc[1, 0] += 1
    else:
      if df1.iloc[i, 5] == 3:
        df2.iloc[1, 1] += 1
      else:
        if df1.iloc[i, 5] == 2:
          df2.iloc[1, 2] += 1
        else:
          if df1.iloc[i, 5] == 8:
            df2.iloc[1, 3] += 1

  if df4 == df3_abstain:
    if df1.iloc[i, 5] == 1:
      df2.iloc[2, 0] += 1
    else:
      if df1.iloc[i, 5] == 3:
        df2.iloc[2, 1] += 1
      else:
        if df1.iloc[i, 5] == 2:
          df2.iloc[2, 2] += 1
        else:
          if df1.iloc[i, 5] == 8:
            df2.iloc[2, 3] += 1

  if df4 == df3_notpresent:
    if df1.iloc[i, 5] == 1:
      df2.iloc[3, 0] += 1
    else:
      if df1.iloc[i, 5] == 3:
        df2.iloc[3, 1] += 1
      else:
        if df1.iloc[i, 5] == 2:
          df2.iloc[3, 2] += 1
        else:
          if df1.iloc[i, 5] == 8:
            df2.iloc[3, 3] += 1

df2.to_csv('sample_data/HumanRightsMatrix.csv', mode='a')

/usr/local/lib/python3.7/dist-packages/pandas/core/reshape/merge.py:643: UserWarning: merging between different levels can give an unintended result (2 levels on the left,1 on the right)
  warnings.warn(msg, UserWarning)
/usr/local/lib/python3.7/dist-packages/pandas/core/reshape/merge.py:643: UserWarning: merging between different levels can give an unintended result (2 levels on the left,1 on the right)
  warnings.warn(msg, UserWarning)
/usr/local/lib/python3.7/dist-packages/pandas/core/reshape/merge.py:643: UserWarning: merging between different levels can give an unintended result (2 levels on the left,1 on the right)
  warnings.warn(msg, UserWarning)
/usr/local/lib/python3.7/dist-packages/pandas/core/reshape/merge.py:643: UserWarning: merging between different levels can give an unintended result (2 levels on the left,1 on the right)
  warnings.warn(msg, UserWarning)

In [41]:
import numpy as np
import pandas as pd

file_path = 'sample_data/UNVotesHR2.csv'
df1 = pd.read_csv(file_path)
df1 = df1.loc[df1['hr'] == 1]

file_path = 'sample_data/ResDecision.csv'
df3 = pd.read_csv(file_path)

df1 = pd.crosstab(df1['unres'], [df1['hf_quartile'], df1['vote']])
df1 = df1.merge(df3, how="left", left_on=['unres'], right_on=['unres'])
# df1.to_csv('sample_data/test.csv')

df1 = df1.iloc[:, [0,1,2,3,4,25]]

df2 = pd.DataFrame()

df2['# res passed'] = 0
df2['# res failed'] = 0
df2['# res abstained'] = 0
df2['# res not present'] = 0
df2['# res not member'] = 0

df2.loc['# res passed by q1'] = [0, 0, 0, 0, 0]
df2.loc['# res failed by q1'] = [0, 0, 0, 0, 0]
df2.loc['# res abstained by q1'] = [0, 0, 0, 0, 0]
df2.loc['# res not present by q1'] = [0, 0, 0, 0, 0]
df2.loc['# res not member by q1'] = [0, 0, 0, 0, 0]

for i in range(len(df1)):

  df3 = df1.loc[[i]]
  df4 = df3.max(axis = 1)
  df4 = df4.tolist()

  df3_yes = df1.iloc[i, 1]
  df3_no = df1.iloc[i, 3]
  df3_abstain = df1.iloc[i, 2]
  df3_notpresent = df1.iloc[i, 4]
  df3_notmember = df1.iloc[i, 5]

  if df4 == df3_yes:
    if df1.iloc[i, 6] == 1:
      df2.iloc[0, 0] += 1
    else:
      if df1.iloc[i, 6] == 3:
        df2.iloc[0, 1] += 1
      else:
        if df1.iloc[i, 6] == 2:
          df2.iloc[0, 2] += 1
        else:
          if df1.iloc[i, 6] == 8:
            df2.iloc[0, 3] += 1

  if df4 == df3_no:
    if df1.iloc[i, 6] == 1:
      df2.iloc[1, 0] += 1
    else:
      if df1.iloc[i, 6] == 3:
        df2.iloc[1, 1] += 1
      else:
        if df1.iloc[i, 6] == 2:
          df2.iloc[1, 2] += 1
        else:
          if df1.iloc[i, 6] == 8:
            df2.iloc[1, 3] += 1

  if df4 == df3_abstain:
    if df1.iloc[i, 6] == 1:
      df2.iloc[2, 0] += 1
    else:
      if df1.iloc[i, 6] == 3:
        df2.iloc[2, 1] += 1
      else:
        if df1.iloc[i, 6] == 2:
          df2.iloc[2, 2] += 1
        else:
          if df1.iloc[i, 6] == 8:
            df2.iloc[2, 3] += 1

  if df4 == df3_notpresent:
    if df1.iloc[i, 6] == 1:
      df2.iloc[3, 0] += 1
    else:
      if df1.iloc[i, 6] == 3:
        df2.iloc[3, 1] += 1
      else:
        if df1.iloc[i, 6] == 2:
          df2.iloc[3, 2] += 1
        else:
          if df1.iloc[i, 6] == 8:
            df2.iloc[3, 3] += 1

  if df4 == df3_notmember:
    if df1.iloc[i, 6] == 1:
      df2.iloc[4, 0] += 1
    else:
      if df1.iloc[i, 6] == 3:
        df2.iloc[4, 1] += 1
      else:
        if df1.iloc[i, 6] == 2:
          df2.iloc[4, 2] += 1
        else:
          if df1.iloc[i, 6] == 8:
            df2.iloc[4, 3] += 1


df2.to_csv('sample_data/HumanRightsMatrix.csv')


# ---------------------------------------------------------


file_path = 'sample_data/UNVotesHR2.csv'
df1 = pd.read_csv(file_path)
df1 = df1.loc[df1['hr'] == 1]

file_path = 'sample_data/ResDecision.csv'
df3 = pd.read_csv(file_path)

df1 = pd.crosstab(df1['unres'], [df1['hf_quartile'], df1['vote']])
df1 = df1.merge(df3, how="left", left_on=['unres'], right_on=['unres'])
# df1.to_csv('sample_data/test.csv')

df1 = df1.iloc[:, [0,6,7,8,9,10,25]]
df2 = pd.DataFrame()

df2['# res passed'] = 0
df2['# res failed'] = 0
df2['# res abstained'] = 0
df2['# res not present'] = 0
df2['# res not member'] = 0

df2.loc['# res passed by q2'] = [0, 0, 0, 0, 0]
df2.loc['# res failed by q2'] = [0, 0, 0, 0, 0]
df2.loc['# res abstained by q2'] = [0, 0, 0, 0, 0]
df2.loc['# res not present by q2'] = [0, 0, 0, 0, 0]
df2.loc['# res not member by q2'] = [0, 0, 0, 0, 0]

for i in range(len(df1)):

  df3 = df1.loc[[i]]
  df4 = df3.max(axis = 1)
  df4 = df4.tolist()

  df3_yes = df1.iloc[i, 1]
  df3_no = df1.iloc[i, 3]
  df3_abstain = df1.iloc[i, 2]
  df3_notpresent = df1.iloc[i, 4]
  df3_notmember = df1.iloc[i, 5]

  if df4 == df3_yes:
    if df1.iloc[i, 6] == 1:
      df2.iloc[0, 0] += 1
    else:
      if df1.iloc[i, 6] == 3:
        df2.iloc[0, 1] += 1
      else:
        if df1.iloc[i, 6] == 2:
          df2.iloc[0, 2] += 1
        else:
          if df1.iloc[i, 6] == 8:
            df2.iloc[0, 3] += 1

  if df4 == df3_no:
    if df1.iloc[i, 6] == 1:
      df2.iloc[1, 0] += 1
    else:
      if df1.iloc[i, 6] == 3:
        df2.iloc[1, 1] += 1
      else:
        if df1.iloc[i, 6] == 2:
          df2.iloc[1, 2] += 1
        else:
          if df1.iloc[i, 6] == 8:
            df2.iloc[1, 3] += 1

  if df4 == df3_abstain:
    if df1.iloc[i, 6] == 1:
      df2.iloc[2, 0] += 1
    else:
      if df1.iloc[i, 6] == 3:
        df2.iloc[2, 1] += 1
      else:
        if df1.iloc[i, 6] == 2:
          df2.iloc[2, 2] += 1
        else:
          if df1.iloc[i, 6] == 8:
            df2.iloc[2, 3] += 1

  if df4 == df3_notpresent:
    if df1.iloc[i, 6] == 1:
      df2.iloc[3, 0] += 1
    else:
      if df1.iloc[i, 6] == 3:
        df2.iloc[3, 1] += 1
      else:
        if df1.iloc[i, 6] == 2:
          df2.iloc[3, 2] += 1
        else:
          if df1.iloc[i, 6] == 8:
            df2.iloc[3, 3] += 1

  if df4 == df3_notmember:
    if df1.iloc[i, 6] == 1:
      df2.iloc[4, 0] += 1
    else:
      if df1.iloc[i, 6] == 3:
        df2.iloc[4, 1] += 1
      else:
        if df1.iloc[i, 6] == 2:
          df2.iloc[4, 2] += 1
        else:
          if df1.iloc[i, 6] == 8:
            df2.iloc[4, 3] += 1

df2.to_csv('sample_data/HumanRightsMatrix.csv', mode='a')


# ----------------------------------------------------

file_path = 'sample_data/UNVotesHR2.csv'
df1 = pd.read_csv(file_path)
df1 = df1.loc[df1['hr'] == 1]

file_path = 'sample_data/ResDecision.csv'
df3 = pd.read_csv(file_path)

df1 = pd.crosstab(df1['unres'], [df1['hf_quartile'], df1['vote']])
df1 = df1.merge(df3, how="left", left_on=['unres'], right_on=['unres'])
# df1.to_csv('sample_data/test.csv')

df1 = df1.iloc[:, [0,11,12,13,14,15,25]]
df2 = pd.DataFrame()

df2['# res passed'] = 0
df2['# res failed'] = 0
df2['# res abstained'] = 0
df2['# res not present'] = 0
df2['# res not member'] = 0

df2.loc['# res passed by q3'] = [0, 0, 0, 0, 0]
df2.loc['# res failed by q3'] = [0, 0, 0, 0, 0]
df2.loc['# res abstained by q3'] = [0, 0, 0, 0, 0]
df2.loc['# res not present by q3'] = [0, 0, 0, 0, 0]
df2.loc['# res not member by q3'] = [0, 0, 0, 0, 0]


for i in range(len(df1)):

  df3 = df1.loc[[i]]
  df4 = df3.max(axis = 1)
  df4 = df4.tolist()

  df3_yes = df1.iloc[i, 1]
  df3_no = df1.iloc[i, 3]
  df3_abstain = df1.iloc[i, 2]
  df3_notpresent = df1.iloc[i, 4]
  df3_notmember = df1.iloc[i, 5]

  if df4 == df3_yes:
    if df1.iloc[i, 6] == 1:
      df2.iloc[0, 0] += 1
    else:
      if df1.iloc[i, 6] == 3:
        df2.iloc[0, 1] += 1
      else:
        if df1.iloc[i, 6] == 2:
          df2.iloc[0, 2] += 1
        else:
          if df1.iloc[i, 6] == 8:
            df2.iloc[0, 3] += 1

  if df4 == df3_no:
    if df1.iloc[i, 6] == 1:
      df2.iloc[1, 0] += 1
    else:
      if df1.iloc[i, 6] == 3:
        df2.iloc[1, 1] += 1
      else:
        if df1.iloc[i, 6] == 2:
          df2.iloc[1, 2] += 1
        else:
          if df1.iloc[i, 6] == 8:
            df2.iloc[1, 3] += 1

  if df4 == df3_abstain:
    if df1.iloc[i, 6] == 1:
      df2.iloc[2, 0] += 1
    else:
      if df1.iloc[i, 6] == 3:
        df2.iloc[2, 1] += 1
      else:
        if df1.iloc[i, 6] == 2:
          df2.iloc[2, 2] += 1
        else:
          if df1.iloc[i, 6] == 8:
            df2.iloc[2, 3] += 1

  if df4 == df3_notpresent:
    if df1.iloc[i, 6] == 1:
      df2.iloc[3, 0] += 1
    else:
      if df1.iloc[i, 6] == 3:
        df2.iloc[3, 1] += 1
      else:
        if df1.iloc[i, 6] == 2:
          df2.iloc[3, 2] += 1
        else:
          if df1.iloc[i, 6] == 8:
            df2.iloc[3, 3] += 1

  if df4 == df3_notmember:
    if df1.iloc[i, 6] == 1:
      df2.iloc[4, 0] += 1
    else:
      if df1.iloc[i, 6] == 3:
        df2.iloc[4, 1] += 1
      else:
        if df1.iloc[i, 6] == 2:
          df2.iloc[4, 2] += 1
        else:
          if df1.iloc[i, 6] == 8:
            df2.iloc[4, 3] += 1

df2.to_csv('sample_data/HumanRightsMatrix.csv', mode='a')


# -------------------------------------------------------


file_path = 'sample_data/UNVotesHR2.csv'
df1 = pd.read_csv(file_path)
df1 = df1.loc[df1['hr'] == 1]

file_path = 'sample_data/ResDecision.csv'
df3 = pd.read_csv(file_path)

df1 = pd.crosstab(df1['unres'], [df1['hf_quartile'], df1['vote']])
df1 = df1.merge(df3, how="left", left_on=['unres'], right_on=['unres'])
# df1.to_csv('sample_data/test.csv')

df1 = df1.iloc[:, [0,16,17,18,19,25]]
df2 = pd.DataFrame()

df2['# res passed'] = 0
df2['# res failed'] = 0
df2['# res abstained'] = 0
df2['# res not present'] = 0
df2['# res not member'] = 0

df2.loc['# res passed by q4'] = [0, 0, 0, 0, 0]
df2.loc['# res failed by q4'] = [0, 0, 0, 0, 0]
df2.loc['# res abstained by q4'] = [0, 0, 0, 0, 0]
df2.loc['# res not present by q4'] = [0, 0, 0, 0, 0]
df2.loc['# res not member by q4'] = [0, 0, 0, 0, 0]


for i in range(len(df1)):

  df3 = df1.loc[[i]]
  df4 = df3.max(axis = 1)
  df4 = df4.tolist()

  df3_yes = df1.iloc[i, 1]
  df3_no = df1.iloc[i, 3]
  df3_abstain = df1.iloc[i, 2]
  df3_notpresent = df1.iloc[i, 4]

  if df4 == df3_yes:
    if df1.iloc[i, 5] == 1:
      df2.iloc[0, 0] += 1
    else:
      if df1.iloc[i, 5] == 3:
        df2.iloc[0, 1] += 1
      else:
        if df1.iloc[i, 5] == 2:
          df2.iloc[0, 2] += 1
        else:
          if df1.iloc[i, 5] == 8:
            df2.iloc[0, 3] += 1

  if df4 == df3_no:
    if df1.iloc[i, 5] == 1:
      df2.iloc[1, 0] += 1
    else:
      if df1.iloc[i, 5] == 3:
        df2.iloc[1, 1] += 1
      else:
        if df1.iloc[i, 5] == 2:
          df2.iloc[1, 2] += 1
        else:
          if df1.iloc[i, 5] == 8:
            df2.iloc[1, 3] += 1

  if df4 == df3_abstain:
    if df1.iloc[i, 5] == 1:
      df2.iloc[2, 0] += 1
    else:
      if df1.iloc[i, 5] == 3:
        df2.iloc[2, 1] += 1
      else:
        if df1.iloc[i, 5] == 2:
          df2.iloc[2, 2] += 1
        else:
          if df1.iloc[i, 5] == 8:
            df2.iloc[2, 3] += 1

  if df4 == df3_notpresent:
    if df1.iloc[i, 5] == 1:
      df2.iloc[3, 0] += 1
    else:
      if df1.iloc[i, 5] == 3:
        df2.iloc[3, 1] += 1
      else:
        if df1.iloc[i, 5] == 2:
          df2.iloc[3, 2] += 1
        else:
          if df1.iloc[i, 5] == 8:
            df2.iloc[3, 3] += 1

df2.to_csv('sample_data/HumanRightsMatrix.csv', mode='a')

/usr/local/lib/python3.7/dist-packages/pandas/core/reshape/merge.py:643: UserWarning: merging between different levels can give an unintended result (2 levels on the left,1 on the right)
  warnings.warn(msg, UserWarning)
/usr/local/lib/python3.7/dist-packages/pandas/core/reshape/merge.py:643: UserWarning: merging between different levels can give an unintended result (2 levels on the left,1 on the right)
  warnings.warn(msg, UserWarning)
/usr/local/lib/python3.7/dist-packages/pandas/core/reshape/merge.py:643: UserWarning: merging between different levels can give an unintended result (2 levels on the left,1 on the right)
  warnings.warn(msg, UserWarning)
/usr/local/lib/python3.7/dist-packages/pandas/core/reshape/merge.py:643: UserWarning: merging between different levels can give an unintended result (2 levels on the left,1 on the right)
  warnings.warn(msg, UserWarning)